<div class="d-flex">
<!--============================================================================-->
  <!-- 並べ替えのボタン -->
  <div class="dropdown mb-4">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
      並び替え
    </button>
    <!--並べ替えの選択肢表示-->
    <ul class="dropdown-menu">
      <li><%= link_to '1. 新しい順', trips_path, data: {"turbolinks" => false}, class: 'dropdown-item' %></li>
      <li><%= link_to '2. 古い順', trips_path(old: "true"), data: {"turbolinks" => false}, class: 'dropdown-item' %></li>
      <li><%= link_to '3. いいね多い順', trips_path(favorite_count: "true"), data: {"turbolinks" => false}, class: 'dropdown-item' %></li>
    </ul>
  </div>
<!--============================================================================-->

<!--============================================================================-->
  <!--検索ボタン Modal開くボタン -->
  <div>
    <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#trip_search_modal">
      検索する
    </button>
  </div>
  <!-- Modal内容 投稿検索 -->
  <div class="modal fade" id="trip_search_modal" tabindex="-1" aria-labelledby="trip_search_modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="trip_search_modalLabel">投稿記事を検索する</h1>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><i class="fa-regular fa-circle-xmark" style="font-size:1.7rem"></i></button>
        </div>
          <div class="modal-body border-bottom">
            <p>フリーワードで検索できます</p>
            <%= form_with url: search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word, placeholder: 'フリーワード' %>
              <%= f.submit "検索", class: "btn-sm btn-primary" %>
              <%= f.hidden_field :range, value: 'Trip' %>
            <% end %>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!--============================================================================-->
</div>