<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<style>
  .pagination {
    display: none; /* 要素自体を表示しない */
  }

  .container {
    width: 1140px; /* 固定幅の設定 */
  }

  .jscroll-inner {
    width: 100%; /* 幅の調整 */
  }

  .left{
    width: 160px; /* 表が少しずれるのを防止 幅の設定*/
  }
</style>

  <!--処理が成功した際にでるフラッシュメッセージ-->
  <% if flash[:notice].present? %>
    <%= content_tag :div, flash[:notice], class: "success_notice" %>
  <% end %>
  <!--ゲストユーザーがいけないページへアクセスした際にでるフラッシュメッセージ-->
  <% if flash[:alert].present? %>
    <%= content_tag :div, flash[:alert], class: "guest_limit_notice" %>
  <% end %>

  <!--ページの題名-->
  <div class="my-5">
    <h1 class="text-center"><strong>投稿一覧から気になる投稿を見つけよう！</strong></h1>
    <div class="text-center mt-3"><%= link_to "地図から投稿を探す", maps_path, class: 'btn btn-info btn-lg' %></div>
  </div>

<div class="container auto-scroll">
  <!--左側の部分 投稿写真と投稿ユーザー名-->
  <div class="row">
    <% @trips.each do |trip| %>
    <div class="col-lg col-md ml-5 mb-5">
      <%= link_to trip_path(trip.id) do %>
        <%= image_tag trip.get_trip_image, size: "240x180" %>
      <% end %>
      <br/>
      <div class="pt-1 d-flex">
        <span style="vertical-align: middle; display: flex; align-items: center;">投稿ユーザー：</span>
          <%= link_to user_path(trip.user), method: :GET, class: 'nav-link text-warning' do %>
            <%= trip.user.family_name %>
            <%= trip.user.first_name %>
          <% end %>
      </div>
    </div>
  <!--右側の部分　投稿の内容-->
    <div class="col-lg-8 col-md-12">
      <table class="table mt-2">
        <tr>
          <th class="left">タイトル</th>
          <td><%= trip.title %></td>
        </tr>
        <tr>
          <th class="left">場所</th>
          <td><%= link_to show_map_path(trip) do %><%= trip.address%><% end %> (地図を確認できます)</td>
        </tr>
        <tr>
          <th class="left">投稿日</th>
          <td><%= trip.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th class="left"></th>
          <td id="favorite_button_<%= trip.id %>"><%= render 'public/favorites/like', trip: trip %></td>
        </tr>
      </table>
    </div>
      <% end %>
    <%= paginate @trips, class: 'pagination' %>
  </div>
</div>


<!-- jQuery CDN (必ず先に読み込む) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- jScroll CDN (必ずjQueryの後に読み込む) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>

<!--無限スクロールを動かすJavascript-->
<script>
    $(document).on('DOMContentLoaded', function() {
    $('.auto-scroll').jscroll({ // 追加したdivのclass名と合わせる
      contentSelector: '.auto-scroll',
      nextSelector: '.pagination a[rel=next]',  // 次ページリンクのセレクタ
      loadingHtml: '読み込み中',
      padding: 10
    });
  });
</script>

