<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto text-center my-5">
      <h1>投稿一覧から気になる投稿を見つけよう！</h1>
    </div>
  </div>

  <div class="row">
    <% @trips.each do |trip| %>
    <div class="col-lg-3 col-md-10 col-sm-12 ml-5 mb-5">
      <%= link_to trip_path(trip.id) do %>
        <%= image_tag trip.get_trip_image, size: "240x180" %>
      <% end %>
      <br/>
      <div class="pt-1 d-flex">
        <span style="vertical-align: middle; display: flex; align-items: center;">投稿ユーザー：</span>
          <%= link_to user_path(trip.user), method: :GET, class: 'nav-link text-warning' do %>
            <%= trip.user.family_name %>
            <%= trip.user.first_name %>
          <% end %>
      </div>
    </div>

    <div class="col-6">
      <table class="table mt-4">
        <tr>
          <th>タイトル</th>
          <td><%= trip.title %></td>
        </tr>
        <tr>
          <th>場所</th>
          <td><%= trip.address%></td>
        </tr>
        <tr>
          <th>投稿日</th>
          <td><%= trip.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th></th>
          <td id="favorite_button_<%= trip.id %>"><%= render 'public/favorites/like', trip: trip %></td>
        </tr>
      </table>
    </div>
      <% end %>
  </div>
</div>
