<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container my-5 p-4 shadow bg-white rounded">
  <% if flash[:notice].present? %>
    <%= content_tag :div, flash[:notice], class: "alert alert-success" %>
  <% end %>

  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1 class="border-bottom mb-4 text-center"><strong>思い出を共有しよう！</strong></h1>

      <%= form_with model: @trip, local:true do |f| %>

      <!-- Photo Preview -->
      <div class="form-group">
        <h4 class="mb-3">写真をアップロード</h4>
        <span>※拡張子jpg・jpeg・pngの投稿ができます</span><br/>
        <span>※画像サイズ5MB以下</span>
        <div class="d-flex mb-3">
          <label for="trip_image_post" style="cursor-pointer margin-right: 10px; background-color:#FFC7AF;">
            <%= image_tag 'icon_folder.png', size: '50x50' %>選択する
          </label>
          <%= f.file_field :trip_image, id: "trip_image_post", style: 'display: none;', accept: "image/*", required: true, class: 'form-control-file', 'onChange': 'TripimgPreview(event, "preview-item1")' %>
        </div>
        <div id="preview-item1" class="text-center mb-4"></div>
      </div>

      <!-- Postal Code -->
      <div class="form-group">
        <label><strong>郵便番号(ハイフンなしで入力してください)</strong></label>
        <%= f.text_field :post_code, id: 'zipcode', class: 'form-control', required: true, placeholder: "例: 1234567" %>
      </div>

      <!-- Address -->
      <div class="form-group">
        <label><strong>住所</strong></label>
        <%= f.text_field :address, class: 'form-control', required: true, placeholder: "例: 東京都渋谷区" %>
      </div>

      <!-- Title -->
      <div class="form-group">
        <label><strong>タイトル</strong></label>
        <%= f.text_field :title, local: true, class: 'form-control', required: true, placeholder: "タイトルを入力してください" %>
      </div>

      <!-- Explanation -->
      <div class="form-group">
        <label><strong>説明欄</strong></label>
        <%= f.text_area :explain, class: 'form-control', required: true, placeholder: "説明を入力してください" %>
      </div>

      <!-- Submit Button -->
      <div class="form-group text-center mt-4">
        <%= f.submit "投稿する", class: 'btn btn-info text-light btn-lg' %>
      </div>
      <% end %>

    </div>
  </div>
</div>

<!-- プレビュー用のJavascript -->
<script>
  function TripimgPreview(event, previewId) {
    var input = event.target;
    var reader = new FileReader();

    reader.onload = function() {
      var preview = document.getElementById(previewId);
      var img = document.createElement('img');
      img.src = reader.result;
      img.style.height = '200px';
      img.style.width = '300px';
      img.style.objectFit = 'contain';
      img.className = 'img-thumbnail'; //プレビュー画像の枠のBootstrap

      preview.innerHTML = '';
      preview.appendChild(img);
    }

    reader.readAsDataURL(input.files[0]);
  }
</script>

<%= javascript_pack_tag "jpostal", 'data-turbolinks-track': 'reload' %>



<!--`FileReader`オブジェクトは、ファイルの内容を非同期に読み込むためのオブジェクトです。この変数を使用して、ファイルのデータを読み込む処理を行います。-->

<!--.onload イベントハンドラの1つ ページなどが読み込まれた時のイベント 今回の場合には、画像が読み込まれた時-->
<!--イベントハンドラはさまざまな種類がある 例 クリックイベント（`onclick`）、入力値が変更されたイベント（`onchange`）-->
<!--イベントハンドラ以降に具体的な処理が記述される-->