<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!--アプリの説明を挿入する-->
  <div class="about_image text-center text-light">
    <h1 class="text-center text-light pb-3 mt-3">Local.Friendsについて</h1>
    <h3 class="my-3">旅行先で現地の人と交流することを目的としたアプリです！</h3>
    <h3 class="my-3">このアプリを通じて仲間を見つけましょう！</h3>
    <p>※ポートフォリオで制作したアプリのため閉鎖する場合があります</p>
  </div>
  <div class="row mt-2">
    <div class="col-6" style="height: 400px; background-color: #F5F5F5;">
      <div class="col-8 mx-auto mt-4" style="height: 300px; ">
        <h3 class="text-center py-3"><strong>1.無料登録してコミュニティに参加しよう！</strong></h3>
        <h4 class="px-5">
          まずはアプリに登録して、自分のページを<br />
          作成しよう！<br />
          登録することで、投稿やチャットをして交流することができます。
        </h4>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center pt-5" style="height: 400px; background-color: #CCFFFF;">
      <div><%= image_tag '200516_e_determination02.png', size: '200x200', style: 'object-fit:cover' %></div>
      <div><%= image_tag 'my_page.jpg', size: '400x200', style: 'object-fit:contain;' %></div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 d-flex justify-content-center pt-5" style="height: 400px; background-color: #CCFF99;">
      <div><%= image_tag '230226_balloon_ride.png', size: '200x200', style: 'object-fit:cover' %></div>
      <div><%= image_tag 'trip_show.png', size: '400x200', style: 'object-fit:contain;' %></div>
      </div>
    <div class="col-6" style="height: 400px; background-color: #F5F5F5;">
      <div class="col-8 mx-auto mt-4" style="height: 300px">
        <h3 class="text-center py-3"><strong>2.画像投稿を通じて情報を発信しよう！</strong></h3>
        <h4 class="px-5">
          旅行先の画像・お気に入りの画像を投稿して<br>
          自分のことを発信しよう！
        </h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6" style="height: 400px; background-color: #F5F5F5;">
      <div class="col-8 mx-auto mt-4" style="height: 300px">
        <h3 class="text-center py-3"><strong>3.仲間を見つけて交流しよう！</strong></h3>
        <h4 class="px-5">
          アプリを通じて仲間を見つけよう！<br/>
          言語・住んでいるエリア・投稿内容から<br />
          簡単に仲間を見つけることができます。
        </h4>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center pt-5" style="height: 400px; background-color: #FFFFCC;">
      <div><%= image_tag '221023_with_mobile2.png', size: '200x200', style: 'object-fit:cover' %></div>
      <div><%= image_tag 'community.jpg', size: '400x200', style: 'object-fit:contain;' %></div>
    </div>

  </div>
  <div class="row">
    <div class="col-6 d-flex justify-content-center pt-5" style="height: 400px; background-color: #FFD5EC;">
      <div><%= image_tag '221224_laughing.png', size: '200x200', style: 'object-fit:cover' %></div>
      <div><%= image_tag 'chat.png', size: '400x200', style: 'object-fit:contain;' %></div>
    </div>
    <div class="col-6" style="height: 400px; background-color: #F5F5F5;">
      <div class="col-8 mx-auto mt-4" style="height: 300px">
        <h3 class="text-center py-3"><strong>4.出会った仲間と直接交流しよう！</strong></h3>
        <h4 class="px-5">
          アプリを通して、仲を深めたら実際に現地で交流しよう！<br>
          日本であれば、日本のいいところを発信しよう。
          海外であれば、いろんな国の人と交流しよう。
        </h4>
      </div>
    </div>
  </div>