<%= stylesheet_link_tag 'public_homes', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container-fluid d-flex flex-column justify-content-center">
  <div class="top_image text-center">
    <h1 class="text-light p-3 mb-5 mt-2">Local.Friends</h1>
      <div class="col-12 p-3 mx-atuo text-center">
        <%= link_to new_user_registration_path, class: 'btn btn-lg btn-success w-50' do %>
          新規会員登録(無料)
        <% end %>
      </div>
      <div class="col-12 p-3 text-center">
        <%= link_to new_user_session_path, class: 'btn btn-lg btn-info w-50' do %>
          ログイン
        <% end %>
    </div>
    <div class="row">
      <div class="p-3 col-12 text-center">
        <%= link_to "ゲストログイン(閲覧用)", guest_sign_in_users_path, method: :post, class: "btn btn-lg btn-light w-50" %>
      </div>
   </div>
    <div class="row">
      <div class="p-3 col-12 text-center">
        <%= link_to "Local.Friendsについて", about_path, method: :get, class: 'btn btn-lg btn-secondary text-light' %>
      </div>
    </div>
  </div>

  <!--アプリの説明を挿入する-->
  <h2 class="text-center border-bottom my-5 pb-3">Local.Friendsについて</h2>
  <div class="row mt-2">
    <div class="col-6" style="height: 400px">
      <div class="col-8 mx-auto mt-4" style="height: 300px">
        <h3 class="text-center py-3"><strong>1.無料登録してコミュニティに参加しよう！</strong></h3>
        <h4 class="px-5">
          まずはアプリに登録して、自分のページを<br />
          作成しよう！<br />
          登録することで、投稿やチャットをして交流することができます。
        </h4>
      </div>
    </div>
    <div class="col-6 bg-dark" style="height: 400px"></div>
  </div>
  <div class="row">
    <div class="col-6 bg-dark" style="height: 400px"></div>
    <div class="col-6" style="height: 400px">
      <div class="col-8 mx-auto mt-4" style="height: 300px">
        <h3 class="text-center py-3"><strong>2.画像投稿を通じて情報を発信しよう！</strong></h3>
        <h4 class="px-5">
          旅行先の画像・お気に入りの画像を投稿して<br>
          自分のことを発信しよう！
        </h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6" style="height: 400px">
      <div class="col-8 mx-auto mt-4" style="height: 300px">
        <h3 class="text-center py-3"><strong>3.仲間を見つけて交流しよう！</strong></h3>
        <h4 class="px-5">
          アプリを通じて仲間を見つけよう！<br/>
          言語・住んでいるエリア・投稿内容から<br />
          簡単に仲間を見つけることができます。
        </h4>
      </div>
    </div>
    <div class="col-6 bg-dark" style="height: 400px"></div>
  </div>
  <div class="row">
    <div class="col-6 bg-dark" style="height: 400px"></div>
    <div class="col-6" style="height: 400px">
      <div class="col-8 mx-auto mt-4" style="height: 300px">
        <h3 class="text-center py-3"><strong>4.出会った仲間と直接交流しよう！</strong></h3>
        <h4 class="px-5">
          アプリを通して、仲を深めたら実際に現地で交流しよう！<br>
          日本であれば、日本のいいところを発信しよう。
          海外であれば、いろんな国の人と交流しよう。
        </h4>
      </div>
    </div>
  </div>

</div>