<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container d-flex justify-content-center flex-column my-5">
  <div class="row">
    <!--ページタイトル-->
    <div class="col text-center mb-4 border-bottom shadow p-3">
      <h1><strong>チャット相手一覧</strong></h1>
      <p class="d-none d-lg-block d-md-block">※相互フォローしている相手とチャットができます<br/>
      ユーザーページでchat開始するとこちらに一覧で表示されます</p>
    </div>
  </div>

  <!--チャット相手一覧を表示する-->
  <% @users.each do |user| %>
    <div class="row shadow-sm bg-light p-2 mb-3">
      <div class="col-lg-3 col-md-3 col-sm-12 text-center">
      <!--プロフィール写真-->
        <%= image_tag user.get_profile_image, size: '80x80', class: 'rounded-circle' %>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12 table-responsive">
        <!--ユーザー情報-->
        <table>
          <tr>
            <th class="pr-4 pb-3">ユーザー名</th>
            <td class="pb-3"><%= user.family_name %> <%= user.first_name %></td>
          </tr>
          <tr>
            <th class="pr-4 pb-3">住んでいる地域</th>
            <td class="pb-3"><%= user.country.name %> <%= user.region.name %></td>
          </tr>
        </table>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
        <!--chat開始ボタン-->
        <%= render 'public/chats/chat_start_btn', user: user %>
      </div>
    </div>
  <% end %>
</div>