<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <!--チャット相手の表示→OK-->
      <h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>", class="mb-5 text-center"><%= @dm_user.family_name %><%= @dm_user.first_name %>さんとのチャット</h2>

      <!--チャットの中身-->
      <div class="message mx-auto" style="width: 400px;">
        <% @chats.each do |chat| %>
          <% if chat.user_id == current_user.id %>
          <!--部分テンプレの呼び出し-->
          <%= render "public/chats/chat", chat: chat %>
          <% else %>
            <div class="left-container d-flex">
              <%= image_tag @user.get_profile_image, size: '30x30' %>
              <p class="ml-1" style="text-align: left;"><span style="background-color: #F5F5DC; padding: 5px; border-radius: 10px;"><%= chat.message %></span></p>
            </div>
          <% end %>
        <% end %>
      </div>

    <!--<div class="errors">-->
    <!--  <= render "layouts/errors", obj: @chat %>-->
    <!--</div>-->

      <!--チャットを送るフォーム→表示されている-->
    <div class="col-lg-6 mx-auto">
      <%= form_with model: @chat, data: { remote: true } do |f| %>
        <%= f.text_field :message %>
        <%= f.submit "送信", class: "btn btn-success btn-sm" %>
        <%= f.hidden_field :chat_room_id, value: @room.id %>
      <% end %>
    </div>

    </div>
  </div>
</div>