<div class="container my-5">
  <!--検索結果のタイトル-->
  <h2 class="my-4 text-center">検索結果</h2>

  <div class="col-4 mx-auto my-4 text-center">
    キーワード: <%= @word %><br>
    検索結果：<%= @range == "User" ? @users_count : @trips_count %>件
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <!--検索対象モデルがUserの時-->
      <% if @range == "User" %>
        <thead class="table-info">
          <tr>
            <th class="text-center">プロフィール写真</th>
            <th class="text-center">ユーザー名</th>
            <th class="text-center">国</th>
            <th class="d-none d-md-table-cell text-center">地域</th> <!-- スマホでは非表示 -->
            <th class="d-none d-md-table-cell text-center">話したい話題</th> <!-- スマホでは非表示 -->
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class="text-center align-middle">
                <%= link_to user_path(user.id) do %>
                  <%= image_tag user.get_profile_image, size: '50x50', class: 'rounded-circle img-fluid' %>
                <% end %>
              </td>
              <td class="align-middle text-center">
                <%= link_to user_path(user.id) do %>
                  <%= user.family_name %> <%= user.first_name %>
                <% end %>
              </td>
              <td class="align-middle text-nowrap text-truncate text-center"><%= user.country.name %></td>
              <td class="d-none d-md-table-cell align-middle text-center"><%= user.region.name %></td>
              <td class="d-none d-md-table-cell align-middle text-center text-truncate" style="max-width: 150px;"><%= user.topic %></td>
            </tr>
          <% end %>
        </tbody>

      <!--検索対象が記事(trip)の時-->
      <% else %>
        <thead class="table-success">
          <tr>
            <th class="text-center">投稿ユーザー</th>
            <th class="text-center">投稿写真</th>
            <th class="text-center">タイトル</th>
            <th class="d-none d-md-table-cell text-center">住所</th> <!-- スマホでは非表示 -->
          </tr>
        </thead>
        <tbody>
          <% @trips.each do |trip| %>
            <tr>
              <td class="align-middle text-center">
                <%= link_to admin_user_path(trip.user) do %>
                  <%= image_tag trip.user.get_profile_image, size: '50x50', class: 'rounded-circle img-fluid' %>
                <% end %><br>
                <%= link_to admin_user_path(trip.user) do %>
                  <%= trip.user.family_name %><%= trip.user.first_name %>
                <% end %>
              </td>
              <td class="align-middle text-center">
                <%= link_to admin_trip_path(trip.id) do %>
                  <%= image_tag trip.get_trip_image, size: '80x80', class: 'img-fluid' %>
                <% end %>
              </td>
              <td class="text-nowrap text-truncate align-middle text-center">
                <%= link_to admin_trip_path(trip.id) do %>
                  <%= trip.title %>
                <% end %>
              </td>
              <td class="d-none d-md-table-cell align-middle text-center text-truncate" style="max-width: 150px;"><%= trip.address %></td> <!-- スマホでは非表示 -->
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</div>