<div class="container">
  <table class="table my-5">
  <!--検索対象モデルがUserの時-->
    <% if @range == "User" %>
        <h2 class="my-4 text-center">検索結果</h2>
          <div class="col-4 mx-auto my-4">キーワード: "<%= @word %>" <br/>
            検索条件:
              <% if @search == "perfect_match" %>
                "<%= "完全一致" %>"
              <% elsif @search == "forward_match" %>
                "<%= "前方一致" %>
              <% elsif @search == "backward_match" %>
                "<%= "後方一致" %>"
              <% else %>
                "<%= "部分一致" %>"
              <% end %>
          </div>
        <thead>
          <tr>
            <th>プロフィール写真</th>
            <th>ユーザー名</th>
            <th>国</th>
            <th>地域</th>
            <th>話したい話題</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to admin_user_path(user.id) do %>
              <%= image_tag user.get_profile_image, size: '50x50' %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_user_path(user.id) do %>
              <%= user.family_name %> <%= user.first_name %>
              <% end %>
            </td>
            <td><%= user.country.name %></td>
            <td><%= user.region.name %></td>
            <td><%= user.topic %></td>
          </tr>
        <% end %>
        </tbody>
        <% else %>

        <!--検索対象が記事(trip)の時-->
        <thead>
          <tr>
            <th>プロフィール写真</th>
            <th>投稿ユーザー</th>
            <th>投稿写真</th>
            <th>タイトル</th>
          </tr>
        </thead>
        <tbody>
          <h2 class="my-4 text-center">検索結果</h2>
          <div class="col-4 mx-auto my-4">
            キーワード: "<%= @word %>" <br/>
            検索条件:
            <% if @search == "perfect_match" %>
              "<%= "完全一致" %>"
            <% elsif @search == "forward_match" %>
              "<%= "前方一致" %>
            <% elsif @search == "backward_match" %>
              "<%= "後方一致" %>"
            <% else %>
              "<%= "部分一致" %>"
            <% end %>
          </div>
          <% @trips.each do |trip| %>
          <tr>
            <td>
              <%= link_to admin_user_path(trip.user) do %>
                <%= image_tag trip.user.get_profile_image, size: '50x50' %>
              <% end %>
              <%= link_to admin_user_path(trip.user) do %>
                <%= trip.user.family_name %><%= trip.user.first_name %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_trip_path(trip.id) do %>
                <%= image_tag trip.get_trip_image, size: '50x50' %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_trip_path(trip.id) do %>
                <%= trip.title %>
              <% end %>
            </td>
            <td>
              <%= trip.explain %>
            </td>
          </tr>
          <% end %>
        </tbody>
    <% end %>
  </table>
</div>