<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <!--ページの題名-->
  <div class="row">
    <h1 class="col text-center mt-4 mb-4 border-bottom pb-3">投稿詳細</h1>
  </div>
  <div class="text-right">
    <%= link_to "投稿を削除する", admin_trip_path(@trip), method: :delete,  data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger' %>
  </div>

  <!--投稿写真と投稿情報-->
  <%= render 'trip_image_info', trip: @trip %>

  <!--投稿したユーザーの基本情報 部分テンプレート-->
  <%= render 'trip_user_info', trip: @trip %>

  <!--コメントの一覧表示 (部分テンプレート)-->
  <h3 class="col-12 text-center mt-4 my-3 pl-5 fw-semibold border-bottom pb-2">コメント一覧</h3>
  <div class="auto-scroll">
    <% if @trip.trip_comments.count == 0 %>
      <p class="text-center mb-5">コメントがありません</p>
    <% else %>
      <%= render 'public/trip_comments/comment_index', trip: @trip, trip_index: @trip_index %>
    <% end %>
  </div>
</div>
