
<div class="container d-flex justify-content-center flex-column">
  <div class="w-25 text-light text-center bg-danger mt-3">
    <%= flash[:notice] %>
  </div>
  <div class="row no-gutters">
    <div class="col text-center my-3">
      <h1><%= @user.family_name %><%= @user.first_name %>さんのステータスを変更する</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center flex-column">
    <div class="row my-3">
      <span>プロフィール写真<br />
        <%= image_tag @user.get_profile_image %>
      </span>
    </div>
    <div class="row mb-3 form-group">
      姓
      <%= @user.family_name %>
    </div>
    <div class="row mb-3">
      名
      <%= @user.first_name %>
    </div>
    <div class="row mb-3">
      自己紹介文 <br/>
      <%= @user.introduction %>
   </div>
    <div class="row mb-3">
      話したい話題<br/>
      <%= @user.topic %>
    </div>
    <div class="row my-3">
    <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
      <span>会員ステータス<br />
        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "有効"%>
        <%= f.radio_button :is_active, :false, class: 'ml-4' %>
        <%= f.label :is_active, "退会", class: 'text-right' %>
      </span>
      <div class="col-6 text-right"><%= f.submit "変更内容を保存", class: 'btn btn-success my-5' %></div>
    <% end %>
    </div>
  </div>
</div>