<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!--削除処理成功のメッセージ-->
  <% if flash[:notice].present? %>
    <%= content_tag :div, flash[:notice], class: "success_notice" %>
  <% end %>

<div class="container-fluid my-5">
  <div class="row">
    <!-- 左側に配置するテーブル -->
    <div class="col-md-4">
     <!--会員数を表示する表を部分テンプレ化呼び出す-->
     <%= render 'users_index_table', users_count: @users_count, active_users_all: @active_users_all, active_user_ration: @active_user_ration, not_active_users: @not_active_users, not_active_user_ration: @not_active_user_ration %>
      <!--国別のユーザー数を表示する-->
      <h3 class="text-center border-bottom pb-2 my-4"><%= link_to "国別の会員数情報を見る", admin_reports_per_country_path, class: 'btn btn-info mx-1 p-2 container-fluid', style: "font-size: 1.3rem", data: { turbolinks: false } %></h3>
      <!--学習中の言語別ユーザー数を表示する-->
      <h3 class="text-center border-bottom pb-2 my-4"><%= link_to "学習中の言語別の会員数情報を見る", admin_reports_per_practice_language_path, class: 'btn btn-success mx-1 p-2 container-fluid', style: "font-size: 1.3rem", data: { turbolinks: false } %></h3>
    </div>

    <!-- 真ん中と右側に配置するコンテンツ -->
    <div class="col-md-8">
      <div class="row">
        <!-- ページのタイトル -->
        <div class="col-12" style="display: flex; align-items: center; justify-content: space-between;">
          <span class="pr-3 pl-3" style="font-size: 1.5rem; background-color: #ECECEC; font-weight: bold;">会員一覧</span>
        </div>

        <!-- 会員一覧の表示 -->
        <div class="col-12 mt-3">
          <table class="w-100" style="border-top: 2px solid gray; border-bottom: 2px solid gray;">
            <thead>
              <tr>
                <th class="table-active" style="padding: 10px;">会員ID</th>
                <th class="table-active" style="padding: 10px;">プロフィール写真</th>
                <th class="table-active" style="padding: 10px;">氏名</th>
                <th class="table-active" style="padding: 10px;">メールアドレス</th>
                <th class="table-active" style="padding: 10px;">ステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td style="padding: 10px;"><%= user.id %></td>
                  <td style="padding: 10px;"><%= image_tag user.get_profile_image, size: '100x100', class: 'rounded-circle' %></td>
                  <td style="padding: 10px;">
                    <%= link_to admin_user_path(user) do %>
                      <%= user.family_name %><%= user.first_name %>
                    <% end %>
                  </td>
                  <td style="padding: 10px;"><%= user.email %></td>
                  <td style="padding: 10px;">
                    <% if user.is_active == true %>
                      <p class="text-center" style="color:black; background-color:#CCFF99;"><strong>有効</strong></p>
                    <% else %>
                      <p class="text-center" style="color:black; background-color:#FFABCE;">退会済み</p>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="d-flex justify-content-center mt-3" style="font-size: 1.5rem">
            <%= paginate @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


