<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!--削除処理成功のメッセージ-->
  <% if flash[:notice].present? %>
    <%= content_tag :div, flash[:notice], class: "success_notice" %>
  <% end %>

<div class="container-fluid my-5">
  <div class="row">
    <!-- 左側に配置するテーブル -->
    <div class="col-md-4">
     <!--会員数を表示する表を部分テンプレ化呼び出す-->
     <%= render 'users_index_table', users_count: @users_count, active_users_all: @active_users_all, active_user_ration: @active_user_ration, not_active_users: @not_active_users, not_active_user_ration: @not_active_user_ration %>
      <!--国別のユーザー数を表示する-->
      <h3 class="text-center border-bottom pb-2 my-4">
        <%= link_to "国別の会員数情報を見る", admin_reports_per_country_path, class: 'btn btn-info mx-1 p-2 container-fluid', style: "font-size: 1.3rem", data: { turbolinks: false } %>
      </h3>
      <!--学習中の言語別ユーザー数を表示する-->
      <h3 class="text-center border-bottom pb-2 my-4">
        <%= link_to "学習中の言語別の会員数情報を見る", admin_reports_per_practice_language_path, class: 'btn btn-success mx-1 p-2 container-fluid', style: "font-size: 1.3rem", data: { turbolinks: false } %>
      </h3>
    </div>

    <!--ページ右側に配置する-->
    <div class="col-md-8">
      <div class="row">
        <!-- ページのタイトル -->
        <div class="col-12" style="display: flex; align-items: center; justify-content: space-between;">
          <span class="pr-3 pl-3" style="font-size: 1.5rem; background-color: #ECECEC; font-weight: bold;">会員一覧</span>
        </div>
        <!-- 会員一覧の表示 部分テンプレート -->
        <div class="col-12 mt-3">
          <%= render 'admin/users/all_user_table', users: @users %>
        </div>
      </div>
    </div>
  </div>
</div>


