<%= stylesheet_link_tag 'user_edit', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container d-flex justify-content-center flex-column">
  <%= flash{:notice} %>
  <div class="w-25 text-light text-center bg-danger mt-3">
    <%= flash[:notice] %>
  </div>
  <div class="row no-gutters">
    <div class="col text-center my-3">
      <h1>ユーザー情報編集</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center form-body">
    <%= form_with model: @user do |f| %>
      <div class="row my-3">
        <span>プロフィール写真<br />
          <%= f.file_field :profile_image, placeholder:"プロフィール画像", accept: "image/*", class: 'image_form' %>
        </span>
      </div>
      <div class="row mb-3 form-group">
        姓
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
      <div class="row mb-3">
        名
        <%= f.text_field :family_name, class: 'form-control' %>
      </div>
      <div class="row mb-3">
        学習中の言語
        <% already_registered_language = @user.practice_language %>
        <% practice_languages = Language.where.not(id: already_registered_language).order("id ASC") %>
        <%= f.select :practice_language_id, options_from_collection_for_select([already_registered_language] + practice_languages, :id, :name) %>
      </div>
      <div class="row mb-3">
        自己紹介文
        <%= f.text_area :introduction, class: 'form-control' %>
     </div>
      <div class="row mb-3">
        話したい話題
        <%= f.text_area :topic, class: 'form-control' %>
      </div>

      <div class="row my-3">
        <span>サブ写真(※最大5枚の画像を保存できます)<br />
          <%= f.file_field :sub_images, placeholder:"画像をアップ", multiple:true, accept: "image/*" %>
        </span>
      </div>
      <div class="col-6 text-right"><%= f.submit "変更内容を保存", class: 'btn btn-success my-5' %></div>
    <% end %>
  </div>

  <div class="text-right mb-4">
      <p>※退会を希望する場合はこちら</p>
      <%= link_to "退会する", unsubscribe_user_path, method: :GET, class: 'btn btn-danger' %>
  </div>
</div>
