  <!--戻るボタン-->
  <span class="ml-3">
    <%= link_to 'Back', :back, class: 'btn btn-secondary py-2 px-3', style: 'font-size:1.3rem' %>
  </span>

<h1 class="text-center my-5"><strong>フォロワー一覧</strong></h1>

<div class="row justify-content-end mb-4">
  <div class="col-2 text-center">
    <%= link_to follows_user_path(@user.id), class: 'btn btn-info' do %>
      フォロー一覧へ
    <% end %>
  </div>
</div>

<div class="col-10 mx-auto mb-5">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-success border">
        <tr>
          <th class="align-middle text-center">プロフィール写真</th>
          <th class="align-middle text-center">名前</th>
          <th class="align-middle text-center">国</th>
          <th class="align-middle text-center">地域</th>
          <th class="align-middle text-center">ユーザーページ</th>
          <th class="text-center">Chat開始</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="align-middle text-center"><%= image_tag user.get_profile_image, size: '50x50', class: "rounded-circle" %></td>
            <td class="align-middle text-center"><%= user.family_name %> <%= user.first_name %></td>
            <td class="align-middle text-center"><%= user.country.name %></td>
            <td class="align-middle text-center"><%= user.region.name %></td>
            <td class="align-middle text-center"><%= link_to 'ユーザーページへ', user_path(user.id), class: 'btn btn-outline-primary' %></td>
            <td class="align-middle text-center"><%= render 'public/chats/chat_start_btn', user: user %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>