<div class="container auto-scroll">
  <!--ページの題名-->
  <div class="row">
    <div class="col text-center mt-2 mb-4">
      <h1 class="pb-3 mt-4"><strong>いいねした記事一覧</strong></h1>
    </div>
  </div>

  <!--いいね記事の一覧表示-->
  <% @favorites.each do |favorite| %>
  <div class="row mb-4">
    <!--左側の部分 いいねした記事の写真-->
    <div class="col-lg col-md">
      <%= link_to trip_path(favorite.trip) do %>
        <%= image_tag favorite.trip.get_trip_image, size: '240x180' %>
      <% end %>
      <br/>
      <div class="pt-1 d-flex">
        <span style="vertical-align: middle; display: flex; align-items: center;">投稿ユーザー：</span>
        <%= link_to favorite.trip.user.family_name + ' ' + favorite.trip.user.first_name, user_path(favorite.trip.user), class: 'nav-link text-warning' %>
      </div>
    </div>
    <!--右側の部分 いいねした記事の内容-->
    <div class="col-lg-8 col-md-12">
      <table class="table mt-2">
        <tr>
          <th class="left">タイトル</th>
          <td><%= favorite.trip.title %></td>
        </tr>
        <tr>
          <th class="left">郵便番号</th>
          <td><%= favorite.trip.post_code %></td>
        </tr>
        <tr>
          <th class="left">住所</th>
          <td><%= favorite.trip.address %></td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>
  <%= paginate @favorites, class: 'pagination' %>
</div>
