<%= stylesheet_link_tag 'user_show', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!--ログイン成功のフラッシュメッセージ-->
  <% if flash[:notice].present? %>
    <%= content_tag :div, flash[:notice], class: "success_notice" %>
  <% end %>

<div class="container d-flex justify-content-center flex-column my-5">
  <div class="row">
    <div class="col text-center mt-2 mb-4">
      <h1><strong>マイページ</strong></h1>
    </div>
  </div>


  <div class="row d-flex justify-content-center">
    <div class="col mt-2 mb-5 border text-center">
      <!--いいねした記事一覧ページへのリンク-->
      <%= link_to "いいねした記事をみる", likes_user_path(current_user), class: 'btn btn-success text-light shadow rounded' %>
      <!--Chat相手一覧ページへのリンク挿入-->
      <%= link_to chats_path, method: :GET, class: 'text-warning btn' do %>
        <i class="fa-solid fa-comment-dots"></i>チャット相手一覧
      <% end %>
      <!--フォロー/フォロワー数カウント・一覧ページへのリンク-->
      <span id="follow_button_<% @user.id %>">
        <%= render 'public/relationships/follow_follower_count', user: @user %>
      </span>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col mt-2 mb-3 text-right">
      <%= link_to "ユーザー情報編集する", edit_user_path(current_user), class: 'btn btn-warning text-light shadow' %>
    </div>
  </div>

  <!--ユーザー情報は部分テンプレート-->
  <%= render 'layouts/user_show', user: @user, trips: @trips %>

</div>





