<%= stylesheet_link_tag 'user_show', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container d-flex justify-content-center flex-column my-5">
  <div class="w-25 text-light text-center bg-info mt-3">
    <%= flash[:notice] %>
  </div>
  <div class="row">
    <div class="col text-center mt-2 mb-4">
      <h1 class="text-center"><strong><%= @user.first_name %>さんのユーザープロフィール</strong></h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col mt-2 mb-5 border text-center">
      <!--フォロー機能のボタンを入れる ゲストログインの場合には、ボタンの表示なし 非同期化id付与-->
      <span id="follow_button_<% @user.id %>">
        <%= render 'public/relationships/follow_btn', user: @user %>
      </span>
      <!--chat開始ボタン-->
      <%= render 'public/chats/chat_start_btn', user: @user %>
      <!--フォロー/フォロワー数カウント・一覧ページへのリンク 非同期化id付与-->
      <span id="follow_count">
        <%= render 'public/relationships/follow_follower_count', user: @user %>
      </span>
    </div>
  </div>

    <!--ユーザー情報は部分テンプレート化-->
    <%= render 'layouts/user_show', user: @user, trips: @trips %>

</div>