  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
      <%= link_to "Trips", root_path, class: 'navbar-brand text-light' %>

      <!--ボタンの長い記述→ハンバーガーメニューにできる魔法のコード！-->
      <button class="navbar-toggler" type="button"
        data-toggler="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--終了-->


      <div class="navbar navbar-right navbar-expand-lg collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <!--サインイン状態のヘッダーnav-->
          <li>
            <%= link_to "管理者ログイン", new_admin_sessionpath, method: :GET, class: 'nav-link text-warning' %>
          </li>
          <li>
            <%= link_to trips_path, method: :GET, class: 'nav-link text-warning' do %>
            <i class="fa-solid fa-newspaper"></i>Articles
            <% end %>
          </li>
          <li>
            <%= link_to new_trip_path, method: :GET, class: 'nav-link text-warning' do %>
            <i class="fa-solid fa-signs-post"></i>New post
            <% end %>
          </li>
          <li>
            <%= link_to user_path, method: :GET, class: 'nav-link text-warning' do %>
            <i class="fa-solid fa-user"></i>User page
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-warning' do %>
            <i class="fa-solid fa-person-walking-arrow-right"></i> Log out
            <% end %>
          </li>

          <% else %>
          <!--サインインしていない状態のヘッダーnav-->
          <li>
            <%= link_to new_user_registration_path, class: 'nav-link text-warning' do %>
            <i class="fa-solid fa-right-to-bracket"></i> Sign up
          <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, class: 'nav-link text-warning' do %>
            <i class="fa-regular fa-address-card"></i> Sign in
          <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
