<%= stylesheet_link_tag 'public_homes', media: 'all', 'data-turbolinks-track': 'reload' %>

<nav class="header navbar navbar-expand-lg navbar-dark d-flex justify-content-between">
  <!--左側のロゴ表示 条件分岐をしている-->
  <div>
    <% if admin_signed_in? %>
      <%= link_to admin_homes_top_path, class: 'navbar-brand text-light logo_font' do %>
        <h2 class="logo"><span class="local">Local</span>.<span class="friends">Friends</span></h2>
      <% end %>
    <% elsif user_signed_in? %>
      <%= link_to my_page_users_path, class: 'navbar-brand text-light logo_font' do %>
        <h2 class="logo"><span class="local">Local</span>.<span class="friends">Friends</span></h2>
      <% end %>
    <% else %>
      <%= link_to root_path, class: 'navbar-brand text-light logo_font' do %>
        <h2 class="logo"><span class="local">Local</span>.<span class="friends">Friends</span></h2>
      <% end %>
    <% end %>
  </div>

    <!--ボタンの長い記述→ハンバーガーメニューにできる魔法のコード！-->
    <button class="navbar-toggler" type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--終了-->

  <div>
    <div class="navbar navbar-right navbar-expand-lg collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <!--管理者ログインした時のヘッダー-->
        <% if admin_signed_in? %>
          <%= link_to 'ユーザー一覧', admin_users_path, class: 'text-warning hover-effect mx-3 link-offset-2', style: 'font-size:1.3rem', data: { turbolinks: false } %>
          <%= link_to '投稿一覧', admin_trips_path, class: 'text-warning hover-effect mx-3 link-offset-2', style: 'font-size:1.3rem' %>
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'text-light hover-effect mx-3 link-offset-2', style: 'font-size:1.3rem' %>

        <!--ユーザー サインイン状態のヘッダーnav-->
        <% elsif user_signed_in? %>
          <li class="header-link">
            <%= link_to my_page_users_path, method: :GET, class: 'nav-link nav-btn active' do %>
            <i class="fa-solid fa-user"></i><span>マイページ</span>
            <% end %>
          </li>
          <li>
            <%= link_to users_path, method: :GET, class: 'nav-link nav-btn active', data: { turbolinks: false } do %>
            <i class="fa-solid fa-people-carry-box"></i><span>コミュニティ</span><br/>
            <span>(ユーザーを探す)</span>
            <% end %>
          </li>
          <li>
            <%= link_to chats_path, method: :GET, class: 'nav-link text-warning active' do %>
            <i class="fa-solid fa-comment-dots"></i><span>Chat</span>
            <% end %>
          </li>
          <li>
            <%= link_to trips_path, method: :GET, class: 'nav-link text-warning active' do %>
            <i class="fa-solid fa-newspaper"></i><span>投稿一覧</span>
            <% end %>
          </li>
          <li>
            <%= link_to new_trip_path, method: :GET, class: 'nav-link text-warning active', data: {"turbolinks" => false} do %>
            <i class="fa-solid fa-signs-post"></i><span>新規投稿</span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'btn nav-log-out', data: { confirm: "本当にログアウトしますか？" } do %>
            <i class="fa-solid fa-person-walking-arrow-right"></i><span>ログアウト</span>
            <% end %>
          </li>
        <% else %>
          <!--ユーザーサインアウト状態のヘッダーnav-->
          <li>
            <%= link_to new_user_registration_path, class: 'header-link nav-link' do %>
            <i class="fa-solid fa-right-to-bracket"></i> 新規会員登録
          <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, class: 'header-link nav-link' do %>
            <i class="fa-regular fa-address-card"></i> ログイン
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<!--検索フォームの追加-->
  <div class="row">
    <div class="col-8 max-auto ml-2">
      <%= render 'layouts/search_form' %>
    </div>
  </div>


<!--スクロールしたらヘッダーを透過するJavascript-->
<script>
  $(document).ready(function() {
    $(window).scroll(function() {
      if ($(this).scrollTop() > 0) {
        $('header').css('opacity', 0.9);
      } else {
        $('header').css('opacity', 1);
      }
    });
  });
</script>

<!--main部分のmargin-topをヘッダーの高さに合わせて自動調整するJavascript-->
<%= javascript_pack_tag 'main_margin_top', 'data-turbolinks-track': 'reload' %>
