
<!--5. ユーザー写真を表示する-->
<div class="col-lg-4 col-md-5 col-sm-12 flex-wrap shadow border p-3" style="border-radius: 20px; background-color:#EEFFFF;">
  <h5 class="mb-3 border-bottom d-flex justify-content-between align-items-center"><span class="mx-auto">ユーザー写真</span> <!-- 中央に配置 -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#slideModal">
      拡大
    </button>
  </h5>

  <!-- Modal -->
  <div class="modal fade" id="slideModal" tabindex="-1" aria-labelledby="slideModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="slideModalLabel">ユーザー写真</h1>
          <button type="button" data-dismiss="modal" aria-label="Close"><i class="fa-regular fa-circle-xmark" style="font-size:1.7rem"></i></button>
        </div>
        <div class="modal-body">
          <!--7. ユーザー写真のスライドショー-->
          <!--スライドショー(carousel)でサブ写真を表示する each_with_indexで取り出したデータそれぞれに0から番号を割り振る-->
          <!--carouselでは最初の画像にactiveクラスを与えないといけない-->
            <!--方法1 取り出した値にindex番号をつける 最初=0番のものはactiveクラスのdivになる！-->
          <p><span class="border-bottom">ユーザー写真スライドショー</span></p>
          <div class="d-flex mb-5">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width:500px">
              <div class="carousel-inner">
                 <% user.sub_images.each_with_index do |sub_image, index| %>
                  <% if index == 0 %>
                    <div class="carousel-item active">
                      <%= image_tag sub_image, class: "d-block w-100", height: 300 %>
                    </div>
                  <% else %>
                    <div class="carousel-item">
                      <%= image_tag sub_image, class: "d-block w-100", height: 300 %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <%= link_to "#carouselExampleControls", role: "button", data: {slide: "prev"}, class: "carousel-control-prev" do %>
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            <% end %>
            <%= link_to "#carouselExampleControls", role: "button", data: {slide: "next"}, class: "carousel-control-next" do %>
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            <% end %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <% user.sub_images.each do |sub_image| %>
    <button type="button" class="user_slideshow-button" data-toggle="modal" data-target="#slideModal"><%= image_tag sub_image, size: '90x90', class: 'rounded mr-3 mb-3' %></button>
  <% end %>
</div>