<!DOCTYPE html>
<html>
  <head>
    <title>LocalFriends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/da08226a47.js" crossorigin="anonymous"></script>
    <!--chart.jsのCDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    


    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'public_homes', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'user_show', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'chat_page', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>

    <main class="main-content d-flex justify-content-center flex-column">
      <%= yield %>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

    <!--jquery.jpostal.jsを使うためにCDNをで読み込む-->
    <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
  </body>
</html>
